<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>test</Title>
    <Author>Mindaugas Levanas</Author>
    <Shortcut>test</Shortcut>
    <Description>description</Description>
    <SnippetTypes>
      <SnippetType>SurroundsWith</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <Default>value</Default>
      </Literal>
    </Declarations>
    <Code Language="CSharp">
      <![CDATA[Console.WriteLine("This is test");]]>
    </Code>
  </Snippet>
</CodeSnippet>